<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
    <link rel="stylesheet" href="/css/style-menu.css">
</head>
<body>
<header>
    <div class="user-info">
        <h1 id="nombreUsuario" th:text="${nombre}">User name</h1>
        <p th:text="${rol}">User Role</p>
    </div>

    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logout-btn">Log out</button>
    </form>
</header>
<main>
    <div class="menu-grid">
        <div class="menu-item">
            <a href="/binarytree">
                <img src="/images/OIP.jpg" alt="Tree">
                <p>Binary Tree</p>
                <p class="description">Binary Tree Exercise</p>
            </a>
        </div>
    </div>
</main>
</body>
</html>